#anytree
cuid
#circus
gitpython
giturlparse
questionary
pydantic-settings
platformdirs
randomname
requests
sentry-sdk
svcs
tinydb
typer
uwsgiconf
uwsgi-tasks @ git+https://github.com/EloquentBits/uwsgi_tasks@master
